* {
  box-sizing: border-box;
}

body {
  background-color: #E4CD8E;
}

header {
  background-color: beige;
  padding: 0.7em 0 0.7em 0;
  border-radius: 20px;
}
header h1 {
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start {
  width: 20%;
  height: 60px;
  font-weight: bold;
  font-size: x-large;
  background-image: url("button.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#sentence {
  border: 2px solid green;
  border-radius: 20px;
  width: 1000px;
  min-height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

article {
  border: 2px solid violet;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 150px;
  height: 500px;
  margin-left: 40px;
}
article #boxTimer, article #score {
  border: 2px solid orange;
  border-radius: 20px;
  min-height: 100px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9996D;
}
article #boxTimer #timer, article #score #timer {
  font-weight: bold;
  font-size: xx-large;
}
article #score {
  border-color: maroon;
}

#main_wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#game {
  border: 2px solid black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-image: none;
}
#game .case {
  flex: 0 0 auto;
  border: 2px solid red;
  min-width: 6.6666666667%;
  min-height: 6.6666666667%;
}

.case[id="76"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="1"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="82"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="223"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="184"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="71"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="6"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="131"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="6"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="225"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="95"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="108"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="138"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="152"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="163"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="120"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="41"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="207"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="156"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="162"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="209"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="212"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="69"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="59"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="42"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="69"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="106"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="119"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="152"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="225"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="60"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="177"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="59"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="161"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="59"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="222"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="188"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="74"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="40"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="223"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="83"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="223"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="52"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="110"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="81"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="173"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="27"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="160"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="39"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="47"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="225"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="47"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="17"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="86"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="149"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="225"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="66"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="124"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="194"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="69"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="126"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="147"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="210"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="168"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="35"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="102"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="196"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="2"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="219"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="57"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="33"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="206"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="118"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="106"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="82"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="218"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="35"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="111"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="190"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="130"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="219"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="155"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="135"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="55"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="197"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="54"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="145"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="151"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="91"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="122"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="104"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="111"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="131"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="186"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="22"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="44"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="16"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="210"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="169"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[id="100"] {
  background-image: url("wallSoft.jpg");
  background-size: cover;
  background-color: black;
}

.case[lign="1"], .case[column="1"], .case[lign="15"], .case[column="15"] {
  background-image: url("wallHard.jpg");
  background-size: cover;
}

/*# sourceMappingURL=game.css.map */
