*{
    box-sizing: border-box;
}
body{
    background-color: #E4CD8E;
}
$radius : 20px;
header{
    background-color: beige;
    padding: 0.7em 0 0.7em 0;
    border-radius: $radius;

    h1{
        font-size: 3em;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start{
    width: 20%;
    height: 60px;
    font-weight: bold;
    font-size: x-large;
    background-image:url("button.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: $radius;
    margin-bottom: 10px;
    margin-top: 10px;

}


#sentence{
    border: 2px solid green;
    border-radius: $radius;
    width: 1000px;
    min-height: 40px;
    margin-bottom: 10px;
    text-align: center;
}

article{
    border: 2px solid violet;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 150px;
    height: 500px;
    margin-left: 40px;

    #boxTimer{
        border: 2px solid orange;
        border-radius: $radius;
        min-height: 100px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E9996D; 

        #timer{
            font-weight: bold;
            font-size: xx-large;
        }
    }

    #score {
        @extend #boxTimer ;
        border-color: maroon;
    }
}

#main_wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

$side_case:100%/15;

#game{
    border: 2px solid black;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    background-image: none;

    

    .case{
        flex : 0 0 auto;
        border: 2px solid red;
        min-width: $side_case  ;
        min-height: $side_case;

    }
}
